version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2181:2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
    ports:
      - 9092:9092
    depends_on:
      - zookeeper

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: password
      POSTGRES_DB: appdb
    ports:
      - 5432:5432

  clickhouse:
    image: clickhouse/clickhouse-server:23.8
    ports:
      - 8123:8123
      - 9000:9000

  logstash:
    image: docker.elastic.co/logstash/logstash:7.17.9
    volumes:
      - ./src/main/resources/logstash-pipeline.conf:/usr/share/logstash/pipeline/logstash.conf
    ports:
      - 5002:5002

  app:
    build: .
    image: java-microservice-example:latest
    ports:
      - 8080:8080
    environment:
      SPRING_PROFILES_ACTIVE: local
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/appdb
      SPRING_DATASOURCE_USERNAME: app
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_LOGSTASH_HOST: logstash
      SPRING_LOGSTASH_PORT: 5002
      SPRING_CLICKHOUSE_URL: jdbc:clickhouse://clickhouse:9000/default
